*{
  margin: 0;
  padding: 0;
}
.app{
  padding: 15px;
}
.operating-area{
  position: relative;
}
#reference{
  pointer-events: none;
  position: relative;
  width: 400px;
  z-index: 1;
}
#reference img{
  width: 100%;
}
#change {
  margin: 0;
  padding: 0;
  width: 400px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  transform-origin: center center;
  left: 0;
  top: 0;
  z-index: 2;
}

#change video{
  width: 100%;
}